DISTINFO
version.h
*.tar.*
CMakeCache.txt
CMakeFiles
CMakeScripts
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
Testing
Makefile
cmake_install.cmake
cmake-build-*
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin.*
*build
build.*
Makefile
__pycache__
.cache
*.e
*.a
*.so
hstcal-*.sh
.idea/
testphot_out.txt