language: c

env:
  global:
    # Set defaults to avoid repeating in most cases
    - MAIN_CMD="python --version"
    - SETUP_CMD=""
    - EXE_PREFIX="/tmp/miniconda3"
    - CONDA_DEPS="cfitsio curl gcc pkg-config"
    - PYTHON_VERSION=3.6
    - ASTROCONDA=http://ssb.stsci.edu/astroconda

matrix:
  fast_finish: true

  include:
  - os: linux
    sudo: false
    compiler: gcc
    env:
      - PYTHON_VERSION=2.7

  - os: linux
    sudo: false
    compiler: gcc
    env:
      - PYTHON_VERSION=3.5

  - os: linux
    sudo: false
    compiler: gcc

  - os: osx
    env:
      - PYTHON_VERSION=2.7
      - CFLAGS="-m64"
      - LDFLAGS="-m64 -Wl,-rpath $EXE_PREFIX/envs/test/lib"

  - os: osx
    env:
      - PYTHON_VERSION=3.5
      - CFLAGS="-m64"
      - LDFLAGS="-m64 -Wl,-rpath $EXE_PREFIX/envs/test/lib"

  - os: osx
    env:
      - CFLAGS="-m64"
      - LDFLAGS="-m64 -Wl,-rpath $EXE_PREFIX/envs/test/lib"

  - os: osx
    compiler: clang
    env:
      - PYTHON_VERSION=2.7
      - CC="clang"
      - CFLAGS="-arch x86_64"
      - LDFLAGS="-arch x86_64"

  - os: osx
    compiler: clang
    env:
      - PYTHON_VERSION=3.5
      - CC="clang"
      - CFLAGS="-arch x86_64"
      - LDFLAGS="-arch x86_64"

  - os: osx
    compiler: clang
    env:
      - CC="clang"
      - CFLAGS="-arch x86_64"
      - LDFLAGS="-arch x86_64"

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CONDA_INSTALLER=https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CONDA_INSTALLER=https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh; fi
  - wget $CONDA_INSTALLER
  - bash Miniconda3-latest-*.sh -b -p $EXE_PREFIX
  - export PATH=$EXE_PREFIX/bin:$PATH
  - conda create -q --yes -n test python=$PYTHON_VERSION
  - source activate test

install:
  - conda install --yes -c $ASTROCONDA $CONDA_DEPS
  - ./waf configure --prefix=$CONDA_PREFIX
  - ./waf build
  - ./waf install

script:
  - $MAIN_CMD $SETUP_CMD
